/* RESULTS PAGE CSS */

#container {
    margin: auto;
    width: 1080px;
    position: relative;
    right: 100px;
}

body {
    margin: 0px;
    padding: 0px;
}

#logo {
  width: 240px;
  height: 50px;
  margin-top: 10px;
}


header {
    margin: 0 auto;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #E4E4E4;
}


.row-one {
    margin-top: 50px;
}

#results {
    font-family: Helvetica,sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}


.bundles {
    height: 800px;
    background-color:white;
}

.bundle-one {
    height: 300px;
    width: 375px;
    background-color: rgb(243, 196, 196);
    float: left;
}

.bundle-two {
    height: 300px;
    width: 375px;
    background-color: rgb(172, 241, 184);
    float: left;
    margin-left: 15px;
    margin-bottom: 100px;
}




.map {
    height: 600px;
    width: 500px;
    background-color: paleturquoise;
    margin-left: 780px;
    margin-right: 100px;
    position: fixed;
}

.bundleWrap {
    margin-left: -15px;
}

.title {
    margin-top: 315px;
    font-family: Helvetica,sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #484848;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 0px;
}

.titleTwo {
    margin-top: 5px;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #484848;
    font-weight: 300;
    margin-left: 0px;
}

.bundle-three {
    height: 300px;
    width: 300px;
    background-color: rgb(243, 196, 196);
   
}
/* media query */

@media screen and (max-width: 1320px) and (min-width: 1000px) {

    /* between 1320 and 1000px, the INDEX screen will look like this: */
  
    #container {
        margin: auto;
        width: 1000px;
        position: relative;
        right: 150px;
    }
    
    .bundle-one {
        height: 300px;
        width: 360px;
        background-color: rgb(243, 196, 196);
        float: left;
    }
    
    .bundle-two {
        height: 300px;
        width: 360px;
        background-color: rgb(172, 241, 184);
        float: left;
        margin-left: 15px;
        margin-bottom: 100px;
    }
 
 }
 