 .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: black;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #4489d2;
  border-color: #c1bbbb;
}

